// Variaveis
    // Cores
    $preto: #212121;
    $preto2: #171717;
    $branco: #FFFFFF;
    $laranja: #EC6608;
    $verde: #76B82A;
    $cinza: #767F89;
    $transparente: #ffffff00;
    // Fontes
    $ft-Open-Sans: 'Open Sans';
    // Dimensões
    $mobile: 768px;